<div class="navbar d-none">
  <div class="container d-flex">
    <div class="">
      <%= link_to 'Converter', converter_index_path %>
    </div>
    <div class="">
      <%= link_to 'Splitter', splitter_index_path %>
    </div>
  </div>
</div>